// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allspace{
    width:100%;
    height:100%;
}

.main-cards .v-image__image--cover {
    background-size: contain !important;
}

body{
    width:100vw;
    min-height:100vh;
}

footer{
    position: static !important;
}

.section{
    min-height:70vh;
}

.wrap-md{
    width:90%;
    margin:0 auto;
}

.brand-name{
    color: white;
    font-weight: 300;
    font-size: 27px;
    margin: 0;
    padding: 20px !important;
    flex: 1 1 40%;
}

.img-container{
    width: 30px;
    height: 30px;

    img{
        width:100%;
        object-fit: contain;
    }
}


a:hover,a{
    text-decoration:none ;
}



.bg-red{
    background-color: #f62028 !important
}

.h-100{
    height:100% !important;
}

.text-red{
    color: #f62028 !important
}

.grey-background {
    background: #f4f4f4;
}

.first-slide{
    padding-top:72px;
}

.h2{
    margin: 0 auto !important;
    text-transform: uppercase;
    font-size: 50px !important;
    line-height: 1.2;
    word-break: break-word;
    width: 90%;
    font-weight: 300;
    margin-bottom:20px;
}

.h4{
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
    font-size:20px;
}

.h3{
    font-size: 1.325rem;
    word-break: break-word;
    line-height: 1.2;
}

.h5{
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
    font-size:14px;
}