@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: #212832;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: var(--color);
    font-family: "Montserrat", sans-serif;
}

.nav__area {
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    padding: 0;
}

.nav__area nav {
    height: 100%;
}

.nav__area .navbar-brand {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    line-height: normal;
    font-size: 2.25rem;
    font-weight: 500;
    color: white;
}

.nav__links a {
    text-align: left;
    text-decoration: none;
    padding: 10px 0;
    padding-left: 10px;
}

.avatar {
    border-radius: 50% !important;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

h5 {
    font-weight: 400 !important;
}

h4 {
    font-weight: 300 !important;
}

.card-container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    padding-top: 1rem;
}

.card-section {
    margin: 2rem 0 !important;
}

.card-body-row {
    display: flex;
}

.card-body-row label,
.card-body-row div {
    flex: 1 1 33%;
    width:33%;
}

.inner-shadow {
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73 !important;
}

.text-sm {
    font-size: 26px;
    font-weight: 560 !important;
    text-align: center;
}

.h1,
.h2,
.h3,
.h4,
.p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

.h1 {
    font-size: 48px;
    margin-bottom: 25px;
}

.h2 {
    font-size: 36px;
    margin-bottom: 25px;
}

.text-white {
    color: white !important;
}

.h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

.h4,
.p {
    font-size: 14px;
    line-height: 1.3 !important;
}

textarea {
    outline: none;
}

.card-image-top {
    height: 250px;
    width: 250px;
    object-fit: contain;
}

.headline {
    font-size: 34px;
}

.font-upper {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.nav__links {
    padding-top: 2rem;
}

.wrap-md-pd {
    padding: 3rem 0;
    width: 90%;
    margin: 0 auto;
}

.wrap-md {
    width: 90%;
    margin: 0 auto;
}

.login__form {
    max-width: 400px;
    text-align: left;
    padding-top: 2rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__title h4,
.product__title {
    font-size: 37px;
    padding: 1.5rem 0;
    line-height: 1.2;
}

.nav__area {
    box-shadow: 0.15rem 0 1.75rem 0 rgba(33, 40, 50, 0.15);
}

.nav__area nav {
    background-image: linear-gradient(135deg,#DEDDF0 0%, #606C88 0%, #3F4C6B 100%,#09203F 100%);
}

.login__form-area {
    width: 80%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 15px;
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: var(--color) !important;
}

.shadow {
    box-shadow: 0.15rem 0 1.75rem 0 rgba(33, 40, 50, 0.15);
}

.nav__links a {
    color: white !important;
    font-weight: 400;
    font-size: 22px;
}

.card-title .text-sm{
    margin-bottom: 2rem;
}

.greeting,
.admin-info {
    margin: 2rem 0 !important;
}

.text-primary {
    color: var(--color) !important;
}

.title-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5625rem;
    padding-bottom: 0.5625rem;
    font-weight: 500 !important;
    text-align: center !important;
    font-size: 2rem;
    padding: 1.6rem;
    line-height: 1.2;
}

.profile-info {
    position: sticky;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 99;
}

.content {
    position: relative;
    padding: 0;
}

.card {
    padding: 2rem;
}

.container-wrap{
    display:flex;
    justify-content: center;
    width:100%;
}

.container-wrap .nav__area{
    flex: 1 1 30%;
    width:30%;
}

body > .container-fluid{
    padding:0;
}

.container-wrap .content{
    flex:1 1 70%;
    width:70%;
}

@media (max-width: 1150px) {
    .product__content > div:nth-child(1) {
        flex-direction: column;
    }

    .product__content > div:nth-child(1) .carousel {
        max-width: 400px;
        margin: 0 auto;
    }

    .nav__links a{
       font-size:17px;
    }
}
